<% if current_user.employee_info_manage_auth %>
  <p class="new_employee"><%= link_to '新規追加', new_employee_path, class: 'new-btn' %></p>
  <p class="new_employee"><%= link_to "csvで出力する",employees_path(format: :csv), class: 'csv-btn'%></p>
<% end %>
