<div class="profile_space">
  <p class="employee_index">
    <%= link_to '一覧に戻る', articles_path, class: 'btn' %>
    <% if current_user.news_posting_auth %>
      <% if @article.employee == current_user %>
        <th class="btn_th"><%= link_to '編集', edit_article_path(@article), class: 'btn' %></th>
      <% end %>
    <% end %>
  </p>

  <div class="row">
    <span class="label">タイトル</span>
    <span class="profile_value"><%= @article.title %></span>
  </div>

  <div class="row">
    <span class="label">内容</span>
    <span class="profile_value"><%= @article.content %></span>
  </div>
</div>
