.box{
  max-width: 1000px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  margin: 50px auto;
  padding: 30px 40px 40px 40px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.form_box{
  width: 700px;
  background-color: #fff;
  border: 1px solid #c0c0c0;
  margin: 50px auto;
  padding: 30px 40px 40px 40px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);
}

.employee_index {
  .new_employee {
    text-align: right;
    margin-right: 10px;
  }

  .new-btn{
    color: white;
    background: #1e90ff;
    border: 2px solid #6495ed;
    border-radius: 3px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  .employee_table {
    height: fit-content;
    width: 800px;
    table-layout: fixed;
    margin-top: 20px;

    thead {
      line-height: 50px;

      .department_th {
        width: 90px;
      }
    }

    .name {
      text-align: left;
      width: 200px;
      padding-left: 50px;
    }

    .employee {
      line-height: 30px;

      .btn_th {
        display: inline-block;
      }
    }

    .ed_del_btn{
      text-align: right;
      width: 100px;
      padding-right: 10px;
    }

    .ad{
      display: inline-block;
    }
  }
}

.employee_form {
  position: relative;
  margin-top: 60px;

  .form_group {
    display: flex;
    line-height: 2.4em;

    label {
      display: inline-block;
      width: 120px;
    }

    input {
      width: 150px;
      margin-right: 20px;
      margin-top: 5px;
    }

    input[type="checkbox"]{
      margin: 12px 0 0 -227px;
    }

    select {
      height: 29px;
      width: 158px;
      padding-left: 12px;
      margin-top: 5px;
      border-radius: 6px;
    }

    .checkbox_label {
      width: fit-content;
      margin-left: 30px;
    }
  }
}

.edit-btn{
  width: 80px;
  height: 30px;
  color: white;
  background: #e65d65;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn{
  width: 80px;
  height: 30px;
  color: #e65d65;
  border: 2px solid #e65d65;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.return-btn{
  width: 80px;
  height: 30px;
  color: #a9a9a9;
  border: 2px solid #a9a9a9;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.return_edit_btn{
  display: flex;
  padding: 5px;
  width: 100%;
  justify-content: right;
}

.search_form{
  max-width: 210px;
  position: relative;
}

.searchBox{
  position: absolute;
  left: 0;
  top: 0;
  width: 170px;
  height: 25px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 36px;
  border-top: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  border-right: none;
  border-radius: 4px 0 0 4px!important;
  outline: none;
}
.searchButton{
  position: absolute;
  left: 170px;
  width: 70px;
  height: 25px;
  border: 1px solid #d3d3d3;
  border-radius: 0 4px 4px 0;
  background: #fff;
  overflow: hidden;
  outline: none;
  font-size: 14px;
  color: #696969;
}

.csv-btn{
  color: #808080;
  background: white;
  border: 2px solid #808080;
  border-radius: 3px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;

}
